.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 28px;
  color: #c4c3ca;
  line-height: 1.17;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 28px;
  color: #1d47fd;
  line-height: 1.17;
}
